body{
    background-color: rgb(3, 25, 39);
}
#heading{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(36, 110, 185);
    margin-top: 10%;
}
.main-div{
        margin-top:5%;

    background-color: rgb(47, 167, 131);
    width:70%;
    height: 150;
    box-shadow:100px;
    animation: mymove ;
    transition: 1s;
}
#sub-div{
    padding-top:2.7%;
}
h2{
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}


  .main-div:hover{
width:100%;
background-color: rgb(55, 200, 154);

    }

#jdimage{
    padding-bottom: 10;
}